{%- assign blog = blogs[section.settings.blog] -%}

<section class="section" data-section-id="{{ section.id }}" data-section-type="blog-posts">
  <div class="container">
    {%- if section.settings.title != blank -%}
      <header class="section__header">
        <h2 class="section__title heading h3">{{ section.settings.title | escape }}</h2>

        {%- unless blog.empty? or section.settings.link_title == blank -%}
          <a href="{{ blog.url }}" class="section__action-link link">{{ section.settings.link_title }} {% render 'icon', icon: 'tail-right' %}</a>
        {%- endunless -%}
      </header>
    {%- endif -%}

    <div class="block-list block-list--loose" id="random-blog-posts">
      {% for article in blog.articles %}
        <div class="block-list__item 1/2--tablet 1/3--lap-and-up {% if section.settings.stack_mobile and forloop.index == 3 %}hidden-tablet{% endif %}">
          {%- render 'article-item', article: article, featured: false -%}
        </div>
      {% endfor %}
    </div>
    
    <script>
      // 使用 JavaScript 随机排序文章
      document.addEventListener("DOMContentLoaded", function() {
        var container = document.getElementById("random-blog-posts");
        var items = container.querySelectorAll(".block-list__item");
        var itemCount = {{ blog.articles.size | json }};
        var maxCount = {{ section.settings.blog_posts_count | json }};
        
        // 创建一个随机索引数组
        var indexes = Array.from({ length: itemCount }, (_, i) => i);
        indexes.sort(() => Math.random() - 0.5);
        
        // 显示前maxCount数量的文章，其他隐藏
        for (var i = 0; i < itemCount; i++) {
          if (i < maxCount) {
            items[indexes[i]].style.display = "block";
          } else {
            items[indexes[i]].style.display = "none";
          }
        }
      });
    </script>

    {%- if section.settings.stack_mobile -%}
      {{ block_list }}
    {%- else -%}
      <div class="scroller">
        <div class="scroller__inner">
          {{ block_list }}
        </div>
      </div>
    {%- endif -%}
  </div>
</section>


{% schema %}
{
  "name": "Blog posts",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "blog_posts_count",
      "label": "Blog posts to show",
      "min": 3,
      "max": 9,
      "step": 3,
      "default": 3
	  },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "Link title",
      "default": "View all"
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show category",
      "info": "The first article's tag will be shown as category.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show excerpt",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "stack_mobile",
      "label": "Stack on mobile",
      "default": false
    }
  ],
  "presets": [
    {
      "category": "Blog",
      "name": "Blog posts",
      "settings": {
        "blog": "news"
      }
    }
  ]
}
{% endschema %}